@using TestSeminar.Models.Binding
@model ProductUpdateBinding

<h2>Jeste li sigurni da želite obrisati proizvod?</h2>
<div>
    <h4>Proizvod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-8 ">
            @*@Html.DisplayNameFor(model => model.ProductImgUrl)*@
            <img src="@Model.ProductImgUrl" alt="@Model.Title" class="img-fluid" >
        </dt>
        <dd class = "col-sm-4">
            
        </dd>
        <dt class = "col-sm-2 mt-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10 mt-2">
            @Html.DisplayFor(model => model.Title)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-danger" /> 
        @*<a asp-action="ProductAdministration">Natrag</a>*@      
        @Html.ActionLink("Natrag","ProductAdministration","Admin",null,new {@class = "btn btn-primary"})
        
    </form>
    
    
</div>