@model IEnumerable<TestSeminar.Models.ViewModel.ProductViewModel>
@using TestSeminar.Services.Interface
@inject IProductService productService

@{
    var categories = await productService.GetProductCategoriesAsync();   
    int counter = 1;
    int counterCat = 1;

}
<h1>Proizvodi</h1>
<a class="btn btn-primary" href="@Url.Action("AddProduct", "Admin")">Dodaj novi proizvod</a>
<a class="btn btn-primary" href="@Url.Action("AddProductCategory", "Admin")">Dodaj novu kategoriju proizvoda</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Kategorija</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Količina</th>
            <th>Cijena</th>
            <th>Uređivanje</th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row">@counter</th>
            <td>@Html.DisplayFor(modelItem => item.ProductCategory.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>
                @Html.ActionLink("Uredi","UpdateProduct","Admin",new {id= item.Id},new {@class = "btn btn-primary"})
                @Html.ActionLink("Obriši","DeleteProduct","Admin",new {id= item.Id},new {@class = "btn btn-primary"})
            </td>      
        </tr>
        counter++;
}
    </tbody>
</table>

<h1>Kategorije</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Naziv</th>
            <th>Opis</th>            
            <th>Uređivanje</th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in categories) {
        <tr>
            <th scope="row">@counterCat</th>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> 
             <td>
                @Html.ActionLink("Uredi","UpdateProductCategory","Admin",new {id= item.Id},new {@class = "btn btn-primary"})
                @Html.ActionLink("Obriši","DeleteProductCategory","Admin",new {id= item.Id},new {@class = "btn btn-primary"})
            </td>  
        </tr>
        counterCat++;
}
    </tbody>
</table>