@using TestSeminar.Models.ViewModel
@model List<ProductViewModel>

@{
    int counter = 1;

}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Naziv</th>
            <th scope="col">Opis</th>
            <th scope="col">Cijena</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody>
       
      
            
        
        @foreach (var product in Model.OrderBy(x=>Guid.NewGuid()))
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@product.ProductCategory.Title</td>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@product.Price</td>                
                <td>
                    @if(product.Quantity > 0)
                    {
                        <a href="@Url.Action("ProductDetails", "Home",new {id = product.Id})" class="btn btn-success">Detalji</a>
                    }
                    else
                    {
                        <span>Proizvod nije dostupan</span>
                    }

                </td>
            </tr>
            counter++;
            if (counter > 10) return;
        }
        

    </tbody>
</table>